*{
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
}
.container{
    width: 95%;
    margin: auto;
}
hr{
    border: 1px solid black;
}
.header{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
.header p, h3{
    font-size: 24px;
}
.border{
    width: 960px;
    border: 30px solid;
    border-image-source: url(R.png);
    border-image-slice: 100;
    margin: auto;
}
.college_info{
    line-height: 30px;
}
.student_info{
    width: 100%;
}
.student_details{
    width: 50%;
    float: left;
    line-height: 30px;
}
.student_batch{
    float: right;
}
.student_batch p:first-child{
    padding: 5px 0px 20px 0px;
}
.table-1{
    margin-top: 30px;
    margin-bottom: 30px;
}
.result{
    border-collapse: collapse;
    width: 100%;
    height: 600px;
    text-align: center;
}
.result tr td:nth-child(1){
    text-align: left;
    padding-left: 10px;
}
.result tr td, th{
    border: 2px solid black;
}
.result tr:last-child td:first-child{
    height: 100px;
    vertical-align: text-top;
}
.grade{
    border-collapse: collapse;
    text-align: center;
    border: 1px solid black;
}
.footer{
    display: flex;
    margin-bottom: 20px;
    justify-content: space-between;
}
.footer-sign{
    padding-right: 100px;
    padding-top: 20px;
}